<div class="settings section imagespool" ng-class="{loading: !isLoaded()}">

    <!-- Images Pool management -->
    <p>{{'SETTINGS_IMAGESPOOL.HELP_IMAGESPOOL' | translate}}</p>

    <!-- Images Pool management toolbar -->
    <div class="toolbar">

        <!-- Form action buttons -->
        <div class="action-buttons">

            <a class="upload-image button"
                href="#/import/{{dataSource | escape}}/imageupload/">{{'SETTINGS_IMAGESPOOL.ACTION_UPLOAD' | translate}}</a>
            <button class="upload button"  ng-click="uploadImage()">{{'SETTINGS_IMAGESPOOL.ACTION_UPLOAD' | translate}}</button><input type="file" id="file" name="file"/>
        </div>

    </div>

    <!-- List of accessible images -->
    <div class="images-list">
        <guac-group-list
            page-size="25"
            connection-groups="filteredRootGroups"
            decorator="rootItemDecorator"
            templates="{

                'connection'       : 'app/settings/templates/connection.html',
                'sharing-profile'  : 'app/settings/templates/sharingProfile.html',
                'connection-group' : 'app/settings/templates/connectionGroup.html',

                'new-connection'       : 'app/settings/templates/newConnection.html',
                'new-sharing-profile'  : 'app/settings/templates/newSharingProfile.html',
                'new-connection-group' : 'app/settings/templates/newConnectionGroup.html'

            }"></guac-group-list>
    </div>
</div>
